In [1]:
import pandas as pd
import numpy as np
import us
from geopy.geocoders import Nominatim
from sklearn.neighbors import NearestNeighbors

In [2]:
demographicData = pd.read_csv("Data/Demographics/ACSDP1Y2019.csv", skiprows=[0])
incomeData = pd.read_csv("Data/Income/ACSST1Y2019.csv", skiprows=[0])
urbanData = pd.read_csv("2010CensusUrbanRural.csv", skiprows=[0])

In [3]:
demographicData

,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population!!Male,Percent!!SEX AND AGE!!Total population!!Male,Percent Margin of Error!!SEX AND AGE!!Total population!!Male,...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female","Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female","Percent Margin of Error!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
0,0400000US01,Alabama,4903185,*****,4903185,(X),2369611,5813,48.3,0.1,...,3731336,(X),1768386,4711,47.4,0.1,1962950,4023,52.6,0.1
1,0400000US02,Alaska,731545,*****,731545,(X),380433,2130,52.0,0.3,...,533151,(X),278479,2343,52.2,0.3,254672,2031,47.8,0.3
2,0400000US04,Arizona,7278717,*****,7278717,(X),3620935,2892,49.7,0.1,...,5137474,(X),2533931,10100,49.3,0.1,2603543,9762,50.7,0.1
3,0400000US05,Arkansas,3017804,*****,3017804,(X),1474705,4896,48.9,0.2,...,2235415,(X),1075762,4729,48.1,0.2,1159653,4437,51.9,0.2
4,0400000US06,California,39512223,*****,39512223,(X),19640794,6786,49.7,0.1,...,26032160,(X),12786049,32037,49.1,0.1,13246111,27222,50.9,0.1
5,0400000US08,Colorado,5758736,*****,5758736,(X),2904955,4852,50.4,0.1,...,4244210,(X),2128648,8907,50.2,0.1,2115562,6315,49.8,0.1
6,0400000US09,Connecticut,3565287,*****,3565287,(X),1743777,2405,48.9,0.1,...,2619474,(X),1253707,6831,47.9,0.2,1365767,6310,52.1,0.2
7,0400000US10,Delaware,973764,*****,973764,(X),470288,1336,48.3,0.1,...,725178,(X),344221,2358,47.5,0.2,380957,2594,52.5,0.2
8,0400000US11,District of Columbia,705749,*****,705749,(X),334355,513,47.4,0.1,...,536768,(X),249106,2526,46.4,0.4,287662,2811,53.6,0.4
9,0400000US12,Florida,21477737,*****,21477737,(X),10498005,7711,48.9,0.1,...,15507315,(X),7459575,23711,48.1,0.1,8047740,19367,51.9,0.1
10,0400000US13,Georgia,10617423,*****,10617423,(X),5170126,8608,48.7,0.1,...,7581837,(X),3596624,12437,47.4,0.1,3985213,10416,52.6,0.1
11,0400000US15,Hawaii,1415872,*****,1415872,(X),707855,1848,50.0,0.1,...,1014035,(X),512571,4551,50.5,0.3,501464,4921,49.5,0.3
12,0400000US16,Idaho,1787065,*****,1787065,(X),898044,3290,50.3,0.2,...,1282630,(X),636414,3698,49.6,0.2,646216,3203,50.4,0.2
13,0400000US17,Illinois,12671821,*****,12671821,(X),6217305,5143,49.1,0.1,...,9088036,(X),4390707,12633,48.3,0.1,4697329,9824,51.7,0.1
14,0400000US18,Indiana,6732219,*****,6732219,(X),3319907,5799,49.3,0.1,...,4978356,(X),2411501,6590,48.4,0.1,2566855,5892,51.6,0.1
15,0400000US19,Iowa,3155070,*****,3155070,(X),1570384,4938,49.8,0.2,...,2348787,(X),1154307,4891,49.1,0.1,1194480,4690,50.9,0.1
16,0400000US20,Kansas,2913314,*****,2913314,(X),1446287,3677,49.6,0.1,...,2103748,(X),1035098,4800,49.2,0.2,1068650,5204,50.8,0.2
17,0400000US21,Kentucky,4467673,*****,4467673,(X),2198205,4556,49.2,0.1,...,3367502,(X),1631725,4801,48.5,0.1,1735777,4526,51.5,0.1
18,0400000US22,Louisiana,4648794,*****,4648794,(X),2268202,5764,48.8,0.1,...,3463372,(X),1655152,5650,47.8,0.1,1808220,5585,52.2,0.1
19,0400000US23,Maine,1344212,*****,1344212,(X),656330,2255,48.8,0.2,...,1078770,(X),522044,2071,48.4,0.2,556726,2151,51.6,0.2
20,0400000US24,Maryland,6045680,*****,6045680,(X),2928013,3800,48.4,0.1,...,4316921,(X),2050021,7510,47.5,0.1,2266900,7788,52.5,0.1
21,0400000US25,Massachusetts,6892503,*****,6892503,(X),3345556,2975,48.5,0.1,...,5057192,(X),2407924,11066,47.6,0.1,2649268,9091,52.4,0.1
22,0400000US26,Michigan,9986857,*****,9986857,(X),4915905,4462,49.2,0.1,...,7562464,(X),3676586,6305,48.6,0.1,3885878,6147,51.4,0.1
23,0400000US27,Minnesota,5639632,*****,5639632,(X),2804216,3601,49.7,0.1,...,4157556,(X),2045864,6514,49.2,0.1,2111692,5775,50.8,0.1
24,0400000US28,Mississippi,2976149,*****,2976149,(X),1434957,6365,48.2,0.2,...,2246323,(X),1067205,3103,47.5,0.1,1179118,2821,52.5,0.1
25,0400000US29,Missouri,6137428,*****,6137428,(X),3008169,5283,49.0,0.1,...,4650318,(X),2248899,5423,48.4,0.1,2401419,5848,51.6,0.1
26,0400000US30,Montana,1068778,*****,1068778,(X),537170,2159,50.3,0.2,...,831760,(X),415318,2413,49.9,0.2,416442,2020,50.1,0.2
27,0400000US31,Nebraska,1934408,*****,1934408,(X),966650,2645,50.0,0.1,...,1388950,(X),683539,3533,49.2,0.2,705411,3263,50.8,0.2
28,0400000US32,Nevada,3080156,*****,3080156,(X),1544779,2632,50.2,0.1,...,2111932,(X),1055523,7251,50.0,0.2,1056409,7176,50.0,0.2
29,0400000US33,New Hampshire,1359711,*****,1359711,(X),672960,2157,49.5,0.2,...,1070215,(X),525283,2412,49.1,0.2,544932,2208,50.9,0.2
30,0400000US34,New Jersey,8882190,*****,8882190,(X),4342591,3793,48.9,0.1,...,6170130,(X),2960049,13528,48.0,0.1,3210081,10764,52.0,0.1
31,0400000US35,New Mexico,2096829,*****,2096829,(X),1036708,3586,49.4,0.2,...,1522171,(X),743883,5587,48.9,0.2,778288,4717,51.1,0.2
32,0400000US36,New York,19453561,*****,19453561,(X),9450810,4777,48.6,0.1,...,13810830,(X),6590849,19158,47.7,0.1,7219981,14904,52.3,0.1
33,0400000US37,North Carolina,10488084,*****,10488084,(X),5094327,7768,48.6,0.1,...,7729644,(X),3681272,9689,47.6,0.1,4048372,8140,52.4,0.1
34,0400000US38,North Dakota,762062,*****,762062,(X),388339,2147,51.0,0.3,...,567545,(X),289374,2513,51.0,0.3,278171,2577,49.0,0.3
35,0400000US39,Ohio,11689100,*****,11689100,(X),5732207,6085,49.0,0.1,...,8879469,(X),4288268,8195,48.3,0.1,4591201,7077,51.7,0.1
36,0400000US40,Oklahoma,3956971,*****,3956971,(X),1962477,3770,49.6,0.1,...,2875059,(X),1404052,4964,48.8,0.1,1471007,4232,51.2,0.1
37,0400000US41,Oregon,4217737,*****,4217737,(X),2089676,4292,49.5,0.1,...,3162204,(X),1545421,5774,48.9,0.1,1616783,6436,51.1,0.1
38,0400000US42,Pennsylvania,12801989,*****,12801989,(X),6272527,4267,49.0,0.1,...,9810201,(X),4743600,8523,48.4,0.1,5066601,7397,51.6,0.1
39,0400000US44,Rhode Island,1059361,*****,1059361,(X),517221,1791,48.8,0.2,...,800798,(X),382238,4242,47.7,0.3,418560,3164,52.3,0.3
40,0400000US45,South Carolina,5148714,*****,5148714,(X),2485001,6337,48.3,0.1,...,3892341,(X),1847097,5016,47.5,0.1,2045244,6174,52.5,0.1
41,0400000US46,South Dakota,884659,*****,884659,(X),449458,2743,50.8,0.3,...,653394,(X),327804,2424,50.2,0.3,325590,2308,49.8,0.3
42,0400000US47,Tennessee,6829174,*****,6829174,(X),3329115,5649,48.7,0.1,...,5129580,(X),2456302,7327,47.9,0.1,2673278,6901,52.1,0.1
43,0400000US48,Texas,28995881,*****,28995881,(X),14385762,10844,49.6,0.1,...,18875542,(X),9232534,23710,48.9,0.1,9643008,24757,51.1,0.1
44,0400000US49,Utah,3205958,*****,3205958,(X),1610671,2824,50.2,0.1,...,2134249,(X),1065672,4759,49.9,0.2,1068577,4918,50.1,0.2
45,0400000US50,Vermont,623989,*****,623989,(X),309164,1483,49.5,0.2,...,498705,(X),244340,1643,49.0,0.2,254365,1862,51.0,0.2
46,0400000US51,Virginia,8535519,*****,8535519,(X),4201799,7762,49.2,0.1,...,6226623,(X),3030164,9438,48.7,0.1,3196459,9777,51.3,0.1
47,0400000US53,Washington,7614893,*****,7614893,(X),3807572,4284,50.0,0.1,...,5409035,(X),2684022,8740,49.6,0.1,2725013,8683,50.4,0.1
48,0400000US54,West Virginia,1792147,*****,1792147,(X),885861,3559,49.4,0.2,...,1420289,(X),696420,2576,49.0,0.1,723869,2136,51.0,0.1
49,0400000US55,Wisconsin,5822434,*****,5822434,(X),2892804,3518,49.7,0.1,...,4412888,(X),2172383,5430,49.2,0.1,2240505,5150,50.8,0.1
50,0400000US56,Wyoming,578759,*****,578759,(X),296005,2436,51.1,0.4,...,434852,(X),220281,2326,50.7,0.4,214571,2194,49.3,0.4
51,0400000US72,Puerto Rico,3193694,*****,3193694,(X),1515994,3217,47.5,0.1,...,2579596,(X),1206627,2330,46.8,0.1,1372969,3089,53.2,0.1

In [4]:
margins = [column for column in demographicData.columns if "Margin" in column]

In [5]:
demographicData = demographicData.drop(columns = margins)

In [6]:
geolocator = Nominatim(user_agent = "MDST-election-prediction")

In [7]:
lat = {}
long = {}
for index, state in demographicData["Geographic Area Name"].iteritems():
    loc = geolocator.geocode(state)
    lat[state] = loc.latitude
    long[state] = loc.longitude

In [8]:
demographicData["Longitude"] = demographicData["Geographic Area Name"].map(long)

In [9]:
demographicData["Latitude"] = demographicData["Geographic Area Name"].map(lat)

In [10]:
feat_columns = ["Estimate!!SEX AND AGE!!Total population!!Median age (years)",
                "Percent!!RACE!!Total population!!One race!!Black or African American",
               "Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native",
               "Percent!!RACE!!Total population!!One race!!Asian",
               "Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)",
               "Latitude",
               "Longitude"]

In [11]:
demoFeatData = demographicData[feat_columns]

In [12]:
educationData = pd.read_csv("Data/ACSST1Y2019.S1501_data_with_overlays_2020-10-22T140417.csv",skiprows=([0]))

In [13]:
margins = [column for column in educationData.columns if "Margin" in column]

In [14]:
educationData = educationData.drop(columns = margins)
educationData

,id,Geographic Area Name,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency),Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade,"Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma",...,Estimate!!Percent Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate,Estimate!!Percent Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency),Estimate!!Percent Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree,Estimate!!Percent Female!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher,Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings,Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Less than high school graduate,Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!High school graduate (includes equivalency),Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Some college or associate's degree,Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Bachelor's degree,Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Graduate or professional degree
0,0400000US01,Alabama,457530,56454,158761,207319,34996,3360058,130320,302753,...,33.6,18.2,12.7,5.0,(X),(X),(X),(X),(X),(X)
1,0400000US02,Alaska,67738,8447,27173,28997,3121,484058,10424,20666,...,25.9,15.2,8.2,3.4,(X),(X),(X),(X),(X),(X)
2,0400000US04,Arizona,694529,100988,246748,276860,69933,4944540,252459,360539,...,26.7,15.1,11.0,5.1,(X),(X),(X),(X),(X),(X)
3,0400000US05,Arkansas,282336,33273,97402,126196,25465,2036456,94376,160617,...,30.9,17.6,14.1,5.3,(X),(X),(X),(X),(X),(X)
4,0400000US06,California,3683287,367782,1151214,1736881,427410,26937872,2346235,1955278,...,22.4,14.1,10.4,4.8,(X),(X),(X),(X),(X),(X)
5,0400000US08,Colorado,527473,65561,167955,221559,72398,3974943,127702,174518,...,21.0,12.9,9.1,4.0,(X),(X),(X),(X),(X),(X)
6,0400000US09,Connecticut,341435,35160,102175,147669,56431,2496420,99132,132707,...,27.0,13.2,9.5,3.8,(X),(X),(X),(X),(X),(X)
7,0400000US10,Delaware,82507,9213,26864,38168,8262,687311,23925,42597,...,28.6,15.0,9.2,3.9,(X),(X),(X),(X),(X),(X)
8,0400000US11,District of Columbia,72703,3199,19034,33665,16805,505145,16459,24709,...,38.3,21.9,18.4,4.3,(X),(X),(X),(X),(X),(X)
9,0400000US12,Florida,1761280,252646,565965,755137,187532,15484502,712764,1081871,...,26.8,15.4,10.6,5.7,(X),(X),(X),(X),(X),(X)
10,0400000US13,Georgia,1034172,155073,355413,420323,103363,7080222,319929,536096,...,28.7,17.0,11.8,4.0,(X),(X),(X),(X),(X),(X)
11,0400000US15,Hawaii,119017,8763,51471,48997,9786,996668,36278,39700,...,18.1,13.3,8.0,4.4,(X),(X),(X),(X),(X),(X)
12,0400000US16,Idaho,166713,19949,62538,71369,12857,1170997,34969,64937,...,23.5,11.4,9.2,4.5,(X),(X),(X),(X),(X),(X)
13,0400000US17,Illinois,1162448,135800,342491,512846,171311,8694694,388348,494289,...,25.6,14.4,10.6,4.1,(X),(X),(X),(X),(X),(X)
14,0400000US18,Indiana,662783,93856,235436,262282,71209,4502015,162057,306026,...,24.7,13.6,10.5,4.4,(X),(X),(X),(X),(X),(X)
15,0400000US19,Iowa,310236,32235,91070,155502,31429,2123004,57894,98587,...,26.0,14.4,9.5,4.0,(X),(X),(X),(X),(X),(X)
16,0400000US20,Kansas,294932,33877,92290,137231,31534,1918081,63799,93958,...,23.4,14.5,10.7,3.3,(X),(X),(X),(X),(X),(X)
17,0400000US21,Kentucky,417406,50880,154324,171776,40426,3048442,154759,235894,...,36.5,18.5,13.1,4.4,(X),(X),(X),(X),(X),(X)
18,0400000US22,Louisiana,423707,66931,148611,172021,36144,3140201,138644,302200,...,38.9,22.3,15.2,5.8,(X),(X),(X),(X),(X),(X)
19,0400000US23,Maine,106707,11544,36951,44531,13681,991152,20783,46531,...,26.3,15.3,11.2,4.6,(X),(X),(X),(X),(X),(X)
20,0400000US24,Maryland,529535,62629,161982,219949,84975,4183858,168321,233831,...,21.3,13.4,9.3,3.4,(X),(X),(X),(X),(X),(X)
21,0400000US25,Massachusetts,690150,63372,186819,305223,134736,4850576,203412,217529,...,26.3,13.2,10.3,3.9,(X),(X),(X),(X),(X),(X)
22,0400000US26,Michigan,949408,120199,308027,411141,110041,6894627,186035,410252,...,29.6,15.7,11.2,4.3,(X),(X),(X),(X),(X),(X)
23,0400000US27,Minnesota,489751,59209,144744,211729,74069,3847212,103730,141960,...,25.3,12.0,8.8,3.0,(X),(X),(X),(X),(X),(X)
24,0400000US28,Mississippi,298065,44711,84574,148517,20263,1979664,91377,199540,...,36.8,24.6,15.8,5.9,(X),(X),(X),(X),(X),(X)
25,0400000US29,Missouri,558571,63265,188594,241357,65355,4206162,122379,269436,...,30.5,15.1,11.7,3.7,(X),(X),(X),(X),(X),(X)
26,0400000US30,Montana,100304,14052,35316,41431,9505,741950,12087,30595,...,31.1,16.7,10.4,5.0,(X),(X),(X),(X),(X),(X)
27,0400000US31,Nebraska,187542,17267,54485,88816,26974,1271770,43627,57645,...,25.4,13.0,8.5,3.8,(X),(X),(X),(X),(X),(X)
28,0400000US32,Nevada,252953,34329,106726,95359,16539,2136466,109903,171012,...,23.0,14.4,11.1,6.1,(X),(X),(X),(X),(X),(X)
29,0400000US33,New Hampshire,123941,14015,39725,54770,15431,979750,19331,46341,...,23.1,12.1,6.7,3.2,(X),(X),(X),(X),(X),(X)
30,0400000US34,New Jersey,752937,71642,220673,320043,140579,6191229,287999,311620,...,26.8,12.7,8.2,3.6,(X),(X),(X),(X),(X),(X)
31,0400000US35,New Mexico,196991,30540,71806,79527,15118,1425988,82436,118892,...,38.3,20.2,16.1,6.8,(X),(X),(X),(X),(X),(X)
32,0400000US36,New York,1766731,181143,498422,762486,324680,13664734,795539,898691,...,30.4,16.9,11.3,5.3,(X),(X),(X),(X),(X),(X)
33,0400000US37,North Carolina,1007035,121314,320704,456503,108514,7187077,299154,519770,...,31.5,16.9,11.6,4.4,(X),(X),(X),(X),(X),(X)
34,0400000US38,North Dakota,80981,7468,21467,41704,10342,504375,13284,19735,...,24.3,13.6,9.6,2.7,(X),(X),(X),(X),(X),(X)
35,0400000US39,Ohio,1064448,136190,379815,440427,108016,8049805,221017,519830,...,29.6,15.1,12.1,4.1,(X),(X),(X),(X),(X),(X)
36,0400000US40,Oklahoma,385498,55594,136359,160863,32682,2619244,100954,202312,...,31.2,16.8,13.4,4.7,(X),(X),(X),(X),(X),(X)
37,0400000US41,Oregon,366803,48660,114446,164509,39188,2988118,98217,160182,...,23.7,13.9,11.7,4.8,(X),(X),(X),(X),(X),(X)
38,0400000US42,Pennsylvania,1141628,136905,398207,452714,153802,9028036,273775,538057,...,28.4,14.0,10.8,4.3,(X),(X),(X),(X),(X),(X)
39,0400000US44,Rhode Island,108834,10138,35145,49918,13633,746952,37697,42510,...,26.3,12.6,7.9,4.4,(X),(X),(X),(X),(X),(X)
40,0400000US45,South Carolina,473210,59844,166144,202646,44576,3563204,132646,283032,...,33.3,16.6,12.1,4.6,(X),(X),(X),(X),(X),(X)
41,0400000US46,South Dakota,81361,11216,27882,33736,8527,588029,16462,29832,...,33.8,14.0,8.8,3.6,(X),(X),(X),(X),(X),(X)
42,0400000US47,Tennessee,624460,67988,216695,268300,71477,4693962,202493,360324,...,30.7,16.5,11.4,4.7,(X),(X),(X),(X),(X),(X)
43,0400000US48,Texas,2826700,392086,977096,1189979,267539,18772550,1436483,1445905,...,27.6,16.0,10.9,4.4,(X),(X),(X),(X),(X),(X)
44,0400000US49,Utah,364058,38891,120041,179473,25653,1911592,46767,86293,...,17.3,10.4,7.0,4.2,(X),(X),(X),(X),(X),(X)
45,0400000US50,Vermont,64872,5163,21257,30622,7830,445558,9568,21290,...,31.0,14.0,10.6,4.2,(X),(X),(X),(X),(X),(X)
46,0400000US51,Virginia,805157,78034,273942,347387,105794,5872757,222224,362488,...,24.1,12.9,8.8,3.7,(X),(X),(X),(X),(X),(X)
47,0400000US53,Washington,661604,93644,217078,273485,77397,5290324,187558,252516,...,23.9,12.4,10.2,4.0,(X),(X),(X),(X),(X),(X)
48,0400000US54,West Virginia,152243,18690,59355,59009,15189,1281086,53606,111199,...,31.4,18.9,13.2,4.3,(X),(X),(X),(X),(X),(X)
49,0400000US55,Wisconsin,543737,55999,181487,242159,64092,4015285,98802,192060,...,24.6,13.0,9.8,3.3,(X),(X),(X),(X),(X),(X)
50,0400000US56,Wyoming,54723,6252,18432,25169,4870,389847,6546,14704,...,15.6,12.7,7.9,5.0,(X),(X),(X),(X),(X),(X)
51,0400000US72,Puerto Rico,319225,28658,84181,171326,35060,2301735,320083,168325,...,63.7,55.7,42.1,18.9,(X),(X),(X),(X),(X),(X)

In [15]:
edu_columns = ["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years","Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher","Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over","Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher","Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher"]

#edu_columns = ["Geographic Area Name", "id", "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT"]

edu_columns

['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years',
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher",
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over',
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher",
 "Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher"]

In [16]:
educationData = educationData[edu_columns]
educationData

,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher,Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher
0,457530,34996,3360058,885357,28.5
1,67738,3121,484058,146157,35.7
2,694529,69933,4944540,1492158,31.1
3,282336,25465,2036456,475367,24.3
4,3683287,427410,26937872,9428484,35.6
5,527473,72398,3974943,1695602,44.3
6,341435,56431,2496420,994548,42.6
7,82507,8262,687311,228199,34.6
8,72703,16805,505145,301429,89.3
9,1761280,187532,15484502,4753637,32.5
10,1034172,103363,7080222,2301568,35.5
11,119017,9786,996668,335209,44.5
12,166713,12857,1170997,336655,29.2
13,1162448,171311,8694694,3108972,37.3
14,662783,71209,4502015,1212826,27.3
15,310236,31429,2123004,622253,29.5
16,294932,31534,1918081,652489,35.3
17,417406,40426,3048442,765923,25.2
18,423707,36144,3140201,784275,28.4
19,106707,13681,991152,328999,33.1
20,529535,84975,4183858,1710230,45.5
21,690150,134736,4850576,2181743,46.5
22,949408,110041,6894627,2070795,30.9
23,489751,74069,3847212,1433226,38.5
24,298065,20263,1979664,441751,25.8
25,558571,65355,4206162,1271281,31.0
26,100304,9505,741950,249148,34.3
27,187542,26974,1271770,422587,34.3
28,252953,16539,2136466,548919,26.9
29,123941,15431,979750,368237,37.0
30,752937,140579,6191229,2551765,42.0
31,196991,15118,1425988,394598,30.7
32,1766731,324680,13664734,5166218,42.3
33,1007035,108514,7187077,2321185,35.1
34,80981,10342,504375,153397,31.7
35,1064448,108016,8049805,2356585,30.2
36,385498,32682,2619244,686509,27.8
37,366803,39188,2988118,1032316,34.7
38,1141628,153802,9028036,2917402,33.4
39,108834,13633,746952,260275,36.7
40,473210,44576,3563204,1054559,34.0
41,81361,8527,588029,174784,31.5
42,624460,71477,4693962,1348224,29.7
43,2826700,267539,18772550,5776533,30.8
44,364058,25653,1911592,664661,35.8
45,64872,7830,445558,172272,38.8
46,805157,105794,5872757,2325070,42.0
47,661604,77397,5290324,1955632,37.1
48,152243,15189,1281086,269706,20.9
49,543737,64092,4015285,1258379,32.4
50,54723,4870,389847,113557,29.8
51,319225,35060,2301735,626580,29.3

In [17]:
educationData['total_with_college'] = educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher"] + educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher"]

<ipython-input-17-3f59ff08e8b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  educationData['total_with_college'] = educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher"] + educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher"]

In [18]:
educationData['total_pop'] = educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years"] + educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over"]

<ipython-input-18-2f60fb37d420>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  educationData['total_pop'] = educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years"] + educationData["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over"]

In [19]:
educationData['percent_with_degree'] = educationData['total_with_college'] / educationData['total_pop'] * 100

<ipython-input-19-a1aa71eb4d15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  educationData['percent_with_degree'] = educationData['total_with_college'] / educationData['total_pop'] * 100

In [20]:
edu_feats = ["percent_with_degree", "Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher"]

In [21]:
eduFeatData = educationData[edu_feats]

demoFeatData

In [22]:
demofeat_array = demoFeatData.to_numpy()

In [23]:
edufeat_array = eduFeatData.to_numpy()

In [24]:
#rural

In [25]:
#religion

In [80]:
#unemployment
unemploymentData = pd.read_csv("Data/State unemployment - Sheet1.csv")

unemploymentData = unemploymentData.sort_values(by = "State")
unemploymentData = unemploymentData["Unemployment Percentage"]

In [81]:
unemployment_array = unemploymentData.to_numpy()
unemployment_array

array([ 6.6,  7.2,  6.7,  7.3, 11. ,  6.4,  7.8,  8.2,  8.7,  7.6,  6.4,
       15.1,  6.1, 10.2,  6.2,  4.7,  5.9,  5.6,  8.1,  6.1,  7.2,  9.6,
        8.5,  6. ,  7.1,  4.9,  5.3,  3.5, 12.6,  6. ,  6.7,  9.4,  9.7,
        7.3,  4.4,  8.4,  5.3,  8. ,  8.1, 10.5,  5.1,  4.1,  6.3,  8.3,
        5. ,  4.2,  6.2,  7.8,  8.6,  5.4,  6.1])

In [82]:
feat_array = np.concatenate((demofeat_array[0:51],edufeat_array[0:51],unemployment_array[:,np.newaxis]), axis = 1)

In [83]:
feat_array

array([[ 3.94000000e+01,  2.69000000e+01,  5.00000000e-01,
         1.30000000e+00,  4.50000000e+00,  3.32588817e+01,
        -8.68295337e+01,  2.41082327e+01,  2.85000000e+01,
         6.60000000e+00],
       [ 3.50000000e+01,  3.10000000e+00,  1.58000000e+01,
         6.00000000e+00,  7.20000000e+00,  6.44459613e+01,
        -1.49680909e+02,  2.70531138e+01,  3.57000000e+01,
         7.20000000e+00],
       [ 3.83000000e+01,  4.70000000e+00,  4.60000000e+00,
         3.30000000e+00,  3.17000000e+01,  3.43953420e+01,
        -1.11763276e+02,  2.77012216e+01,  3.11000000e+01,
         6.70000000e+00],
       [ 3.88000000e+01,  1.55000000e+01,  6.00000000e-01,
         1.50000000e+00,  7.70000000e+00,  3.52048883e+01,
        -9.24479108e+01,  2.15988325e+01,  2.43000000e+01,
         7.30000000e+00],
       [ 3.70000000e+01,  5.80000000e+00,  8.00000000e-01,
         1.48000000e+01,  3.94000000e+01,  3.67014631e+01,
        -1.18755997e+02,  3.21865479e+01,  3.56000000e+01,
         1.10000000e+01],
       [ 3.71000000e+01,  4.20000000e+00,  1.00000000e+00,
         3.30000000e+00,  2.18000000e+01,  3.87251776e+01,
        -1.05607717e+02,  3.92678064e+01,  4.43000000e+01,
         6.40000000e+00],
       [ 4.12000000e+01,  1.11000000e+01,  3.00000000e-01,
         4.70000000e+00,  1.69000000e+01,  4.16500201e+01,
        -7.27342163e+01,  3.70342741e+01,  4.26000000e+01,
         7.80000000e+00],
       [ 4.14000000e+01,  2.25000000e+01,  4.00000000e-01,
         3.80000000e+00,  9.60000000e+00,  3.86920451e+01,
        -7.54013315e+01,  3.07164810e+01,  3.46000000e+01,
         8.20000000e+00],
       [ 3.43000000e+01,  4.54000000e+01,  3.00000000e-01,
         4.10000000e+00,  1.13000000e+01,  3.88936612e+01,
        -7.69878833e+01,  5.50722681e+01,  8.93000000e+01,
         8.70000000e+00],
       [ 4.24000000e+01,  1.60000000e+01,  3.00000000e-01,
         2.80000000e+00,  2.64000000e+01,  2.77567667e+01,
        -8.14639835e+01,  2.86514639e+01,  3.25000000e+01,
         7.60000000e+00],
       [ 3.72000000e+01,  3.19000000e+01,  4.00000000e-01,
         4.10000000e+00,  9.80000000e+00,  3.23293809e+01,
        -8.31137366e+01,  2.96378386e+01,  3.55000000e+01,
         6.40000000e+00],
       [ 3.96000000e+01,  1.90000000e+00,  4.00000000e-01,
         3.87000000e+01,  1.07000000e+01,  1.95872677e+01,
        -1.55426890e+02,  3.09222585e+01,  4.45000000e+01,
         1.51000000e+01],
       [ 3.69000000e+01,  7.00000000e-01,  1.30000000e+00,
         1.50000000e+00,  1.28000000e+01,  4.36447642e+01,
        -1.14015407e+02,  2.61276360e+01,  2.92000000e+01,
         6.10000000e+00],
       [ 3.86000000e+01,  1.41000000e+01,  3.00000000e-01,
         5.70000000e+00,  1.75000000e+01,  4.00796606e+01,
        -8.94337288e+01,  3.32782362e+01,  3.73000000e+01,
         1.02000000e+01],
       [ 3.80000000e+01,  9.60000000e+00,  3.00000000e-01,
         2.50000000e+00,  7.20000000e+00,  4.03270127e+01,
        -8.61746933e+01,  2.48612821e+01,  2.73000000e+01,
         6.20000000e+00],
       [ 3.85000000e+01,  4.10000000e+00,  4.00000000e-01,
         2.40000000e+00,  6.30000000e+00,  4.19216734e+01,
        -9.33122705e+01,  2.68646743e+01,  2.95000000e+01,
         4.70000000e+00],
       [ 3.72000000e+01,  5.70000000e+00,  8.00000000e-01,
         3.00000000e+00,  1.22000000e+01,  3.82731200e+01,
        -9.85821872e+01,  3.09091271e+01,  3.53000000e+01,
         5.90000000e+00],
       [ 3.92000000e+01,  8.10000000e+00,  2.00000000e-01,
         1.60000000e+00,  3.80000000e+00,  3.75726028e+01,
        -8.51551411e+01,  2.32655616e+01,  2.52000000e+01,
         5.60000000e+00],
       [ 3.77000000e+01,  3.24000000e+01,  6.00000000e-01,
         1.80000000e+00,  5.40000000e+00,  3.08703881e+01,
        -9.20071260e+01,  2.30202070e+01,  2.84000000e+01,
         8.10000000e+00],
       [ 4.51000000e+01,  1.60000000e+00,  7.00000000e-01,
         1.10000000e+00,  1.70000000e+00,  4.57090970e+01,
        -6.88590201e+01,  3.12134801e+01,  3.31000000e+01,
         6.10000000e+00],
       [ 3.90000000e+01,  3.03000000e+01,  3.00000000e-01,
         6.40000000e+00,  1.06000000e+01,  3.95162234e+01,
        -7.69382069e+01,  3.80873184e+01,  4.55000000e+01,
         7.20000000e+00],
       [ 3.97000000e+01,  7.90000000e+00,  3.00000000e-01,
         6.90000000e+00,  1.24000000e+01,  4.23788774e+01,
        -7.20323660e+01,  4.18082215e+01,  4.65000000e+01,
         9.60000000e+00],
       [ 3.98000000e+01,  1.37000000e+01,  6.00000000e-01,
         3.30000000e+00,  5.30000000e+00,  4.36211955e+01,
        -8.46824346e+01,  2.78024767e+01,  3.09000000e+01,
         8.50000000e+00],
       [ 3.84000000e+01,  6.60000000e+00,  1.00000000e+00,
         5.10000000e+00,  5.60000000e+00,  4.59896587e+01,
        -9.46113288e+01,  3.47546198e+01,  3.85000000e+01,
         6.00000000e+00],
       [ 3.83000000e+01,  3.80000000e+01,  5.00000000e-01,
         1.00000000e+00,  3.00000000e+00,  3.29715645e+01,
        -8.97348497e+01,  2.02839758e+01,  2.58000000e+01,
         7.10000000e+00],
       [ 3.89000000e+01,  1.15000000e+01,  4.00000000e-01,
         2.10000000e+00,  4.30000000e+00,  3.87604815e+01,
        -9.25617875e+01,  2.80526947e+01,  3.10000000e+01,
         4.90000000e+00],
       [ 4.05000000e+01,  7.00000000e-01,  6.30000000e+00,
         8.00000000e-01,  3.80000000e+00,  4.73752671e+01,
        -1.09638758e+02,  3.07096197e+01,  3.43000000e+01,
         5.30000000e+00],
       [ 3.68000000e+01,  4.90000000e+00,  1.00000000e+00,
         2.50000000e+00,  1.13000000e+01,  4.17370229e+01,
        -9.95873816e+01,  3.08063663e+01,  3.43000000e+01,
         3.50000000e+00],
       [ 3.84000000e+01,  9.60000000e+00,  1.40000000e+00,
         8.50000000e+00,  2.92000000e+01,  3.95158825e+01,
        -1.16853723e+02,  2.36650834e+01,  2.69000000e+01,
         1.26000000e+01],
       [ 4.30000000e+01,  1.60000000e+00,  1.00000000e-01,
         2.60000000e+00,  4.00000000e+00,  4.34849133e+01,
        -7.16553992e+01,  3.47622659e+01,  3.70000000e+01,
         6.00000000e+00],
       [ 4.02000000e+01,  1.36000000e+01,  2.00000000e-01,
         9.60000000e+00,  2.09000000e+01,  4.00757384e+01,
        -7.44041622e+01,  3.87713082e+01,  4.20000000e+01,
         6.70000000e+00],
       [ 3.86000000e+01,  2.30000000e+00,  9.50000000e+00,
         1.70000000e+00,  4.93000000e+01,  3.45708167e+01,
        -1.05993007e+02,  2.52446889e+01,  3.07000000e+01,
         9.40000000e+00],
       [ 3.92000000e+01,  1.59000000e+01,  4.00000000e-01,
         8.60000000e+00,  1.93000000e+01,  4.07127281e+01,
        -7.40060152e+01,  3.55824803e+01,  4.23000000e+01,
         9.70000000e+00],
       [ 3.91000000e+01,  2.15000000e+01,  1.20000000e+00,
         3.00000000e+00,  9.80000000e+00,  3.56729639e+01,
        -7.90392919e+01,  2.96517670e+01,  3.51000000e+01,
         7.30000000e+00],
       [ 3.55000000e+01,  2.90000000e+00,  5.40000000e+00,
         1.40000000e+00,  4.00000000e+00,  4.76201461e+01,
        -1.00540737e+02,  2.79725500e+01,  3.17000000e+01,
         4.40000000e+00],
       [ 3.96000000e+01,  1.26000000e+01,  2.00000000e-01,
         2.30000000e+00,  4.00000000e+00,  4.02253569e+01,
        -8.26881395e+01,  2.70411739e+01,  3.02000000e+01,
         8.40000000e+00],
       [ 3.70000000e+01,  7.30000000e+00,  8.00000000e+00,
         2.30000000e+00,  1.11000000e+01,  3.49550817e+01,
        -9.72684063e+01,  2.39351998e+01,  2.78000000e+01,
         5.30000000e+00],
       [ 3.97000000e+01,  1.80000000e+00,  1.20000000e+00,
         4.60000000e+00,  1.34000000e+01,  4.39792797e+01,
        -1.20737257e+02,  3.19382781e+01,  3.47000000e+01,
         8.00000000e+00],
       [ 4.08000000e+01,  1.14000000e+01,  2.00000000e-01,
         3.50000000e+00,  7.80000000e+00,  4.09699889e+01,
        -7.77278831e+01,  3.01996605e+01,  3.34000000e+01,
         8.10000000e+00],
       [ 4.01000000e+01,  7.40000000e+00,  3.00000000e-01,
         3.50000000e+00,  1.63000000e+01,  4.17962409e+01,
        -7.15992372e+01,  3.20065998e+01,  3.67000000e+01,
         1.05000000e+01],
       [ 3.99000000e+01,  2.65000000e+01,  4.00000000e-01,
         1.70000000e+00,  5.80000000e+00,  3.36874388e+01,
        -8.04363743e+01,  2.72304823e+01,  3.40000000e+01,
         5.10000000e+00],
       [ 3.77000000e+01,  2.40000000e+00,  8.60000000e+00,
         1.30000000e+00,  3.70000000e+00,  4.46471761e+01,
        -1.00348761e+02,  2.73847832e+01,  3.15000000e+01,
         4.10000000e+00],
       [ 3.90000000e+01,  1.67000000e+01,  3.00000000e-01,
         1.80000000e+00,  5.70000000e+00,  3.57730076e+01,
        -8.62820081e+01,  2.66940269e+01,  2.97000000e+01,
         6.30000000e+00],
       [ 3.51000000e+01,  1.23000000e+01,  5.00000000e-01,
         5.00000000e+00,  3.97000000e+01,  3.18160381e+01,
        -9.95120986e+01,  2.79827864e+01,  3.08000000e+01,
         8.30000000e+00],
       [ 3.12000000e+01,  1.20000000e+00,  1.10000000e+00,
         2.40000000e+00,  1.44000000e+01,  3.94225192e+01,
        -1.11714358e+02,  3.03348054e+01,  3.58000000e+01,
         5.00000000e+00],
       [ 4.28000000e+01,  1.50000000e+00,  5.00000000e-01,
         1.40000000e+00,  2.00000000e+00,  4.45990718e+01,
        -7.25002608e+01,  3.52843681e+01,  3.88000000e+01,
         4.20000000e+00],
       [ 3.85000000e+01,  1.94000000e+01,  3.00000000e-01,
         6.60000000e+00,  9.70000000e+00,  3.71232245e+01,
        -7.84927721e+01,  3.64015470e+01,  4.20000000e+01,
         6.20000000e+00],
       [ 3.79000000e+01,  4.00000000e+00,  1.40000000e+00,
         9.00000000e+00,  1.30000000e+01,  3.88949924e+01,
        -7.70365581e+01,  3.41574864e+01,  3.71000000e+01,
         7.80000000e+00],
       [ 4.29000000e+01,  3.70000000e+00,  2.00000000e-01,
         8.00000000e-01,  1.50000000e+00,  3.84758406e+01,
        -8.08408415e+01,  1.98764554e+01,  2.09000000e+01,
         8.60000000e+00],
       [ 3.99000000e+01,  6.40000000e+00,  9.00000000e-01,
         2.90000000e+00,  7.10000000e+00,  4.44308975e+01,
        -8.96884637e+01,  2.90077784e+01,  3.24000000e+01,
         5.40000000e+00],
       [ 3.81000000e+01,  1.20000000e+00,  2.40000000e+00,
         8.00000000e-01,  1.01000000e+01,  4.31700264e+01,
        -1.07568535e+02,  2.66385496e+01,  2.98000000e+01,
         6.10000000e+00]])

In [74]:
#feat_array =

In [84]:
nbrs = NearestNeighbors().fit(feat_array)

In [85]:
distances, indices = nbrs.kneighbors(feat_array)

In [86]:
indices

array([[ 0, 18, 40, 42, 24],
       [ 1, 37, 12, 26, 44],
       [ 2, 28, 43,  4, 31],
       [ 3, 42, 14, 25, 17],
       [ 4,  2, 28, 43, 31],
       [ 5, 44, 16, 27,  2],
       [ 6, 32, 30, 21, 39],
       [ 7, 33, 40, 46, 38],
       [ 8, 20, 46, 21, 32],
       [ 9, 13, 33, 32, 30],
       [10, 40, 33,  0, 18],
       [11, 37,  4,  1, 28],
       [12, 50, 44, 37, 26],
       [13, 16, 49, 22, 46],
       [14, 17, 35, 22, 25],
       [15, 49, 25, 14, 27],
       [16, 27, 15, 23, 49],
       [17, 14, 35, 48, 42],
       [18, 24,  0, 10, 40],
       [19, 29, 45, 38, 39],
       [20, 46,  7, 10, 33],
       [21,  6, 30, 32, 47],
       [22, 35, 14, 38, 42],
       [23, 49, 27, 16, 15],
       [24, 18,  0, 10, 40],
       [25, 15, 49, 14, 42],
       [26, 50, 34, 41, 12],
       [27, 16, 15, 23, 34],
       [28,  2,  4, 12, 37],
       [29, 45, 19, 38, 47],
       [30, 32,  6, 21, 39],
       [31, 43,  2,  4, 28],
       [32, 30,  6, 46, 39],
       [33,  7, 40, 46, 42],
       [34, 41, 26, 27, 15],
       [35, 22, 14, 42, 38],
       [36, 15, 16,  3, 25],
       [37, 12, 44, 50, 26],
       [38, 35, 22,  7, 33],
       [39,  6, 47, 38, 32],
       [40, 33, 10,  0,  7],
       [41, 34, 26, 15, 50],
       [42, 35, 25, 22, 14],
       [43,  2, 31, 28,  4],
       [44, 12, 50, 37, 27],
       [45, 29, 19, 38, 47],
       [46, 33,  7, 20, 32],
       [47, 39, 38,  6, 29],
       [48, 17, 14, 35, 22],
       [49, 15, 25, 14, 22],
       [50, 12, 26, 27, 34]])

In [87]:
demographicData['Abbreviation'] = demographicData["Geographic Area Name"].map(us.states.mapping('name', 'abbr'))

In [88]:
for state in indices:
    print(demographicData.iloc[state[0]]['Geographic Area Name'] + ': ' + demographicData.iloc[state[1]]['Geographic Area Name']
         + ', ' + demographicData.iloc[state[2]]['Geographic Area Name'] + ', ' + demographicData.iloc[state[3]]['Geographic Area Name'] + ', ' 
          + demographicData.iloc[state[4]]['Geographic Area Name'])

Alabama: Louisiana, South Carolina, Tennessee, Mississippi
Alaska: Oregon, Idaho, Montana, Utah
Arizona: Nevada, Texas, California, New Mexico
Arkansas: Tennessee, Indiana, Missouri, Kentucky
California: Arizona, Nevada, Texas, New Mexico
Colorado: Utah, Kansas, Nebraska, Arizona
Connecticut: New York, New Jersey, Massachusetts, Rhode Island
Delaware: North Carolina, South Carolina, Virginia, Pennsylvania
District of Columbia: Maryland, Virginia, Massachusetts, New York
Florida: Illinois, North Carolina, New York, New Jersey
Georgia: South Carolina, North Carolina, Alabama, Louisiana
Hawaii: Oregon, California, Alaska, Nevada
Idaho: Wyoming, Utah, Oregon, Montana
Illinois: Kansas, Wisconsin, Michigan, Virginia
Indiana: Kentucky, Ohio, Michigan, Missouri
Iowa: Wisconsin, Missouri, Indiana, Nebraska
Kansas: Nebraska, Iowa, Minnesota, Wisconsin
Kentucky: Indiana, Ohio, West Virginia, Tennessee
Louisiana: Mississippi, Alabama, Georgia, South Carolina
Maine: New Hampshire, Vermont, Pennsylvania, Rhode Island
Maryland: Virginia, Delaware, Georgia, North Carolina
Massachusetts: Connecticut, New Jersey, New York, Washington
Michigan: Ohio, Indiana, Pennsylvania, Tennessee
Minnesota: Wisconsin, Nebraska, Kansas, Iowa
Mississippi: Louisiana, Alabama, Georgia, South Carolina
Missouri: Iowa, Wisconsin, Indiana, Tennessee
Montana: Wyoming, North Dakota, South Dakota, Idaho
Nebraska: Kansas, Iowa, Minnesota, North Dakota
Nevada: Arizona, California, Idaho, Oregon
New Hampshire: Vermont, Maine, Pennsylvania, Washington
New Jersey: New York, Connecticut, Massachusetts, Rhode Island
New Mexico: Texas, Arizona, California, Nevada
New York: New Jersey, Connecticut, Virginia, Rhode Island
North Carolina: Delaware, South Carolina, Virginia, Tennessee
North Dakota: South Dakota, Montana, Nebraska, Iowa
Ohio: Michigan, Indiana, Tennessee, Pennsylvania
Oklahoma: Iowa, Kansas, Arkansas, Missouri
Oregon: Idaho, Utah, Wyoming, Montana
Pennsylvania: Ohio, Michigan, Delaware, North Carolina
Rhode Island: Connecticut, Washington, Pennsylvania, New York
South Carolina: North Carolina, Georgia, Alabama, Delaware
South Dakota: North Dakota, Montana, Iowa, Wyoming
Tennessee: Ohio, Missouri, Michigan, Indiana
Texas: Arizona, New Mexico, Nevada, California
Utah: Idaho, Wyoming, Oregon, Nebraska
Vermont: New Hampshire, Maine, Pennsylvania, Washington
Virginia: North Carolina, Delaware, Maryland, New York
Washington: Rhode Island, Pennsylvania, Connecticut, New Hampshire
West Virginia: Kentucky, Indiana, Ohio, Michigan
Wisconsin: Iowa, Missouri, Indiana, Michigan
Wyoming: Idaho, Montana, Nebraska, North Dakota